<div class="container">
  <h2>Select a page:</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">View projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-project">Create a project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contacts">View contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/create-contact">Create a contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-contact-to-project"
        >Add contact to project</a
      >
    </li>
  </ul>
</div>
